<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Main" connectionString="Data Source=rdrrl7\d1;Integrated Security=SSPI;Database=DevII;Application Name=QIQO.Services" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="QIQO.Services.LRPService">
        <endpoint address="LRPService" binding="netTcpBinding" contract="QIQO.Services.ILRPService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <!--<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />-->
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/QIQO.Services" />
            <add baseAddress="net.tcp://localhost:8733/QIQO.Services" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>